*{
    margin: 0;
    padding: 0;
}

:root {
    --corPadraoAzul: #add8e6;
    --corPadraoAzulClaro: #bbd5dd;
    --corPadraoAzulEscuro: #2b94b8;
    --corPadraoPreto: #000000;
    --corPadraoBranco: #fbfeff;
    --corPadraoCinza: #7b7a7b;
    --fontTitle: #000000;
    --legend: #000000;
}
body{
    background-image: linear-gradient(to bottom, white, #add8e6);
    font-family:  'Open+Sans', sans-serif;    
    font-size: 12px; 
}
#intro p, #subtitle {
    text-align: center;
    padding: 20px;
    line-height: 1.5rem;
    width: 100%;
}
h1, h2 #subtitle {
    width: auto;
    text-align: center;
    padding: 20px;
}
#intro p {
    width: 80%;
    margin-left: 10%;
}
h1 {
    font-size: 24px;
}
#subtitle {
    margin-top: 10rem;
}
h2{
    padding: 20px;
    color: var(--corPadraoCinza);
    display: flex;
    justify-content: center;
    margin: 10px;
}

#graf2 h2{
    justify-content: left;
}

p{
    position: absolute;
    font-weight: bold;
    color: var(--corPadraoCinza);
}
input{
    text-align: center;
    color: var(--corPadraoAzulEscuro);
    border: 0;
    font-weight: bold;
    box-shadow: 0px 4px 6px -2px var(--corPadraoAzulEscuro);
    border-radius: 10px;
    padding: 20px;
    width: 90%;
}
img{
    width: 50%;
}
#fixas, #variaveis, #renda{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    transition: all 1s linear;
    
}
#fixas div, #renda div,#variaveis div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 10%;
    min-width: 110px;
    height: 200px;
    border-radius: 10px;
    padding: 20px;
}
/*Gráficos*/
#graf1{
    margin: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
}
#graf2{
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#popup{
    text-align: center;
}
#copo1, #copo2{
    width: 32%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-shadow: 0px 4px 6px -2px var(--corPadraoAzulEscuro);
    border-radius: 10px;
}
#copo3, #copo4, #copo5{
    display: flex;
    flex-direction: column;
    padding: 20px;
}
#copo6{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    text-align: center;
}

/*Media queries*/
@media(max-width: 480px){
    #graf1,#intro p, #subtitle{
        display: flex;
        flex-direction: column;
        padding: 20px;
    }
    #subtitle {
    margin-top: 18rem;
    }
    #copo1, #copo2{
        width: 90%;
    }
    #copo6 {
        width: 80%;
        order: 3;
    }
    #copo3, #copo4, #copo5{
        width: 400px;
    }
}
@media (min-width: 481px)and (max-width: 825px){
    #graf1, #intro p, #subtitle{
        display: flex;
        flex-direction: column;
        padding: 20px;
    }
    #subtitle {
    margin-top: 18rem;
    }
    #copo6 {
        width: 80%;
        order: 3;
    }
    #copo1, #copo2{
        width: 90%;

    }
    #copo3, #copo4, #copo5{
        width: 90%;
    }
    img{
        width: 45%;
    }
    #fixas div, #renda div,#variaveis div{
        width: 32%;
    }
    #mural{
        width: 50%;
    }
}
/*Table*/
table {
    border-collapse: collapse;
    margin-bottom: 20px;
    width: 100%;
  }
  
  th, td {
    padding: 4px;
    border: 1px solid black;
    text-align: center;
    word-wrap: break-word;
  }
  
  h2 {
    margin-top: 20px;
  }
  
  .tabela-wrapper {
    display: flex;
  }
  
#tabela-gastos-fixos {
    margin-right: 10px;
    box-shadow: 0px 4px 6px -2px var(--corPadraoAzulEscuro);
}
#tabela-gastos-variaveis{
    margin-left: 10px;
    box-shadow: 0px 4px 6px -2px var(--corPadraoAzulEscuro);
}
#table  {
    display: flex;
    justify-content: center;
    width: 100%;
}
button{
    background-color: var(--corPadraoBranco);
    width: 200px;
    height: 50px;
    border: 0;
    box-shadow: 0px 4px 6px -2px var(--corPadraoAzulEscuro);
    border-radius: 10px;

}
#table-result{
    display: flex;
    justify-content: center;
}
#table input{
    width: 60%;
    background-color: transparent;
    box-shadow: none;
    color: var(--corPadraoPreto);
}
#gamb{
    width: 100%;
    height: 100px;
}
