:root {
    --corPadraoAzul: #add8e6;
    --corPadraoAzulClaro: #bbd5dd;
    --corPadraoAzulEscuro: #2b94b8;
    --corPadraoPreto: #000000;
    --corPadraoBranco: #fbfeff;
    --corPadraoCinza: #7b7a7b;
    --fontTitle: #000000;
    --legend: #000000;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

.logo {
    width: 110px;
    height: 70px;
    background-color: none;
}

header {
    display: flex;
    background-color: var(--corPadraoAzulEscuro);
    box-shadow: 0 0 1rem #000000;
    flex-wrap: wrap;
    transition: none;
}

#lista-cabecalho {
    display: flex;
    width: 76%;
    flex-wrap: wrap;
    font-size: 12px;
    transition: none;
}

.opcao-cabecalho {
    color: #000000;
    list-style-type: none;
    padding: 1rem;
    box-sizing: border-box;
    transition: none;
    text-decoration: none;
}

.opcao-cabecalho:hover {
    background-color: var(--corPadraoAzul);
    transition: none;
}

.opcao-acessibilidade {
    color: #000000;
    list-style-type: none;
    padding: 1rem;
    box-sizing: border-box;
    transition: none;
}

.link-opcao {
    text-decoration: none;
    transition: none;
}

.link-opcao:hover {
    text-decoration: underline black;
    transition: none;
}

.link-opcao:link {
    text-decoration: none !important;
    color: #000000 !important;
    transition: none !important;
}

.btn-acessibility {
    width: 20px;
    height: 20px;
    background-color: var(--corPadraoAzul);
    border: none;
    border-radius: 100%;
    color: var(--corPadraoAzulEscuro);
    transition: none;
}
a {
    text-decoration: none;
}
@media (min-width:801px) {
    .menu-response {
        display: none;
    }

    .menu1 {
        justify-content: space-between;
    }
}

.menu-response{
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

@media (max-width:800px) {
    .menu1 {
        display: none;
    }

    header {
        display: block;
    }

    .dropdown span {
        display: block;
        width: 36px;
        height: 2px;
        background-color: black;
        margin-bottom: 5px;

    }

    button.dropdown {
        background-color: white;
        border: none;
    }

    .opcaodrop {
        display: none;
        font-size: 12px;
    }

    .menu-response {
        height: 0px;
    }

    .dropitems {
        background-color: var(--corPadraoAzulEscuro);
    }
}
