@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

:root {
  --corPadraoAzul: #add8e6;
  --corPadraoAzulClaro: #bbd5dd;
  --corPadraoAzulEscuro: #2b94b8;
  --corPadraoPreto: #000000;
  --corPadraoBranco: #fbfeff;
  --corPadraoCinza: #7b7a7b;
  --fontTitle: #000000;
  --legend: #000000;
}

body, html {
  height: 100%;
  font-size: 12px;
  line-height: 1.5;
  font-family: 'Open+Sans', sans-serif;
}

body {
  background-image: linear-gradient(to bottom, white, #add8e6);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

h1 {
  text-align: center;
  padding: 20px;
  font-size: 24px;
  color: var(--corPadraoAzulEscuro);
  margin-top: 40px;
}

#titulo {
  opacity: 0;
  transition: opacity 5s ease-in;
}

#titulo.mostrar {
  opacity: 1;
}


h3 {
  padding: 5rem;

}
#intro {
  height: 10vh;
  width: 80%;
  margin: auto;
  padding: 20px;
  text-align: center;
}

.pag1,
.pag2,
.pag3,
.pag4 {
  flex-basis: 50%;
  padding: 10px;
  display: flex;
  align-items: center;
}

.pag1 img,
.pag2 img,
.pag3 img,
.pag4 img {
  width: 90px;
  height: 90px;

}

.menuInteracao {
  display: flex;
  flex-wrap: wrap;
  height: max-content;
  width: 80%;
  margin: auto;
  text-align: center;
}

.menuInteracao img:hover {
  transform: scale(1.5);
  padding-bottom: 20px;
  box-shadow: var(--corPadraoCinza) 2px 2px 2px;
  border-radius: 5%;
}

.container1,
.container2 {
  width: 32%;
  padding: 22px;
  margin: auto;
  padding: 10px;
  text-align: center;
}

.logo {
  max-width: 100px;
  max-height: 75px;
}

.header {
  width: 100%;
  height: 3.4rem;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline black;
}

a:visited {
  color: black
}

a:link {
  color: black
}
@media (max-width:728px) {
  .container1,
  .container2 {
  flex-basis: 100%;
  text-align: center;
  height: max-content;
}
  .container1 {
    padding: 80px;
  }
  .container2 {
    margin-bottom: 15rem;
  }
}
