*{
    margin: 0;
    padding: 0;
}
:root {
    --corPadraoAzul: #add8e6;
    --corPadraoAzulClaro: #bbd5dd;
    --corPadraoAzulEscuro: #2b94b8;
    --corPadraoPreto: #000000;
    --corPadraoBranco: #fbfeff;
    --corPadraoCinza: #7b7a7b;
    --fontTitle: #000000;
    --legend: #000000;  
}
html {
  height: 100%;
}
h1{
    text-align: center;
    padding: 20px;
    clear: both
    font-size: 24px;
}
h2{
    color: var(--corPadraoCinza);
}
body{
    font-family: 'Open+Sans', sans-serif;
    font-size: 12px;
    color: #000000;
    height: 100%;
    background-image: linear-gradient(to bottom, white, #add8e6);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;    
    line-height: 1.5rem;
}
header{
    width: 100%;
    height: 70px;  
}
main{
    height: max-content;
}
#Container{
    width: 90%;
    height: 100%;
    padding: 20px;
    margin: auto;
}
.Menu{
    display: block;
    width: 100%;
    background-color: #DDD;
}
#conteudo{
    display: block;
    float: left;
    width: 45%;
    height: 30vh;
    margin: 10px;
    padding-right: 20px;
}
#imagem{
    display: block;
    float: left;
    clear: right;
    width: 18vw;
    height: 25vh; 
    border-radius: 10px;
    -webkit-box-shadow: 0 -1px 8px var(--corPadraoCinza);

}
aside{
    display: block;
    float: right;
    width: 25%;
    height: 60vh;
    text-align: center;
    padding-top: 20px;
    box-shadow: 0px 4px 6px -2px var(--corPadraoAzulEscuro);
}
main iframe{
    display: block;
    float: left;
    width: 20%;
    height: 25vh;
    margin: 10px; 
    clear: left;   
}
#conteudo2{
    display: block;
    float: left;
    width: 45%;
    height: 30vh;
    padding-left: 20px;
}
.header{
    width: 100%;  
    height: 70px;  
  }

  /*>>>>>> responsividade */
  @media (max-width: 920px) 
  {
   Aside {
    width: 100%;
    float: none;
    height: 30vh;
    margin-top: 20px;
    box-shadow: none;
    }
    body{
        background-size: contain;
        }
    #imagem{
        float: none;
        width: 50%;
        height: max-content; 
        margin: auto; 
        margin-top: 20rem;      
    }
   #conteudo2{
    float: none;
    width: auto;
    height: 40vh;
    padding: 20px;
   }
   #conteudo{
    width: 90%;
    height: 20vh;
    
   }
    #video iframe{
    float: none;
    width: auto;
    height: max-content;
    text-align: justify;
    margin: auto; 
    padding: 20px 20px;

   } 
 }
